/* Style général */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #8EA7E9;
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFF2F2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-img {
    display: block;
    margin: 60px auto 10px;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    object-position: center;
  }
  
  .adresse-mail {
    font-size: 20px;
    color: #5c7fdf;
  }

  .adresse-mail:hover {
    color: #5267b8;
  }

  .profile-info {
    text-align: center;
  }
  
  .profile-info h1 {
    font-size: 38px;
    margin-bottom: 10px;
    padding: 25px;
    color: #7286D3;
  }
  
  .profile-info p {
    font-size: 1.2rem;
    color: #8EA7E9;
    margin-bottom: 5px;
  }
  
  .profile-info p:last-child {
    margin-bottom: 0;
  }

  ul.profile-links {
    list-style: none;
    margin: 10px;
    padding: 10px;
  }
  
  ul.profile-links li {
    margin-bottom: 10px;
    padding: 7px;
  }
  
  ul.profile-links li a {
    display: inline-block;
    padding: 10px 20px;
    background-color:#8EA7E9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  ul.profile-links li a:hover {
    background-color: #5267b8;
  }
  
  
  /* Style pour les mobiles */
  @media screen and (max-width: 600px) {
    .container {
      width: 100%;
      padding: 20px;
    }
  
    .profile-img {
      width: 150px;
      height: 150px;
    }
  
    .profile-info h1 {
      font-size: 1.5rem;
    }
  
    .profile-info p {
      font-size: 1rem;
    }
  }

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7286D3;
    padding: 10px;
    max-width: 500px;

  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .menu a:hover {
    background-color: #5267b8;
  }
  
  
p {
    padding: 10px;
    color: #E5E0FF;
}